
.bg-yellow-cream{
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('http://localhost/pkk/apps/img/together.jpg');
}
.bg-lightest-sky{
	background-color: #E7EBE0FF;
}
.kotak{
	box-shadow: 0px 1px 2px rgba(13,23,13,.6);
}

/* INPUT SMOOTH FAILURE */
.input-group input{
width: 100%;
border: none;
border-bottom: solid 4px #660B28;
transition: 240ms ease;
font-size: 18px;
line-height: 15px;
padding-bottom: 6px;
padding-left: 6px;
padding-right: 6px;
padding-top: 11px;
color: black;
background-color: white;
}

input:focus{
	outline: none;
}

.label-active{
	top: 8px !important;
	font-size: 12px !important;
	line-height: 10px !important;
	color: #007bff;
}

input:active{
	outline: none;
}

.input-group{
	position: relative;
	width: 260px;
}

.input-group input:focus{
	border-bottom: solid 4px #EE4540;
}

.input-group label{
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);
	font-size: 12px;
	pointer-events: none;
	transition: 180ms ease;
}

.valign {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.panel {border-radius: 10px}

.img-asp-size{
	width: 510px;
	border-radius: 10px;
}
.r-position{
	float: right;
}
.batas{
	width: 510px;
	height: 10px;
	border-radius: 5px;
}
.icon{
	width: 30px;
	height: 30px;

}
.pl-20{
	padding-left: 20px;
}
/*	PROFILE CSS */
.img-profile{
	width: 300px;
	height: 300px;
	border-radius: 20%;
}
/* NGATUR BUTTON */
.button-option button{
	background-color: transparent;
	overflow: hidden;
	border:none;
	border-radius: 2px;
	cursor: pointer;
}
.button-option button:hover{
	background:linear-gradient(to right,#c7bbbb,white);	
}

/* 

			BUTTON EFFECT 
		(NYOBAAN NGAN GAGAL :( )

.button-effect button{
	background-color: transparent;
	border:none;
	overflow: hidden;
	cursor: pointer;
}
.button-effect button:before{
	top: 0;
	left: -110%;
	bottom:0;
	content: "";
	background-color: rgba(255,255,255,0.2);
	transform: skewX(-30deg);
	transition: left 0.7s ease-in-out;

}
.button-effect button:hover::before{
	left: 120%;
}
*/