	.content {
		color: black;
		background-color: none; 
		border-radius: 5px;
		padding: 2px;
		font-family: arial;
	}
	td{
		text-align: center;
	}
	.gray-background{
		background-color: gray;
	}
	nav{
		border-bottom: solid;
	}
	#buttonFirstView{
		color: #2B7279; 
		border-color: #2B7279;
	}
	#textFirstView1{
		margin:0;
	}

	@media screen and (min-width: 955px){
		#titleFirstView{
			font-size: 45px;
		}
		#img-main-page{
			width: 400px;
			height: 300px;
		}
	}

	@media screen and (max-width: 955px){
		#img-main-page{
			width: 340px;
			height: 270px;
		}
	}

	@media screen and (max-width: 690px){
		#firstViewRight{
			display: none;
		}	
	}

	#buttonFirstView:hover,#login_button:hover{
		background-color: #135f6673;
	}

	#appearance{
		height: 130%;
	}
	.img-popular-post{
		object-fit: cover;
		width: 100%;
		height: 170px;
	}
	#allPost,#popularPost{
		text-align: justify;
	}
	.img-account-popular-post{
	  border-radius: 50%;
	  width: 28px;
	  height:28px;
	  object-fit: cover;
	}
	#timeWritten{
		text-align: right;
		float: right;
		padding-top: 5px;
	}

	#allPostRow,#infoWritter{
		border-bottom: solid;
		border-bottom: 2px;
	}

	#infoWritter,#timeWritten{
		font-size: 11px;
	}
	#infoWritterAll,#timeWrittenAll{
		font-size: 15px;
	}

	@media screen and (max-width: 851px){
		#infoLikerPostValue,#infoViewerPostValue,#infoCommentPostValue,#infoSharePostValue{
			display: none !important;
		}
	}

	#infoLikerPostValue,#infoViewerPostValue,#infoCommentPostValue,#infoSharePostValue{
		display: block;
		background-color: #135f6673;
		border-radius: 4px;
	}
	p#sub1,p#sub2,p#sub3{
		padding: 0;
		margin: 0;	
	}
	.teksSelengkapnya{
		cursor: pointer;
	}
	.img-all-post{
		width: 100%;
		padding:0 !important;
		object-fit: cover;
		height: 100%;
		border-bottom: solid;
	}
	.noPaddingLeft{
		padding-left: 0 !important;
	}
	#kotak-sialan{
		margin-left: auto;
		margin-right: auto;
		width: 85px; 
		border:none; 
		border-radius: 5px; 
		background-color: #ffc107;
	}
	#matahari-sialan{
		cursor: pointer !important; 
		position: relative; 
	}
	#bulan-sialan{
		cursor: pointer !important; 
		position: relative; 
		left: 75%;
	}

	#rFooter{
		background-color: #2B7279;
	}
	#Footer{
		color: white !important;
	}
	#upFooter{
		border-bottom: solid;
		border-width: 100%;
	}
	#downFooter{
		text-align: center;
		bottom: 0;
	}

	@media screen and (max-width: 1225px){
		#lainnya{
			font-size: 18px;
		}
	}

	li{
		padding-bottom: 10px;		
	}

		#sendMessage{
		width: 80%;
		height:100px;
	}

	span[id^="lang-"]{
		margin: 5px;
	}

	/*------------------*/

	.inputModal{
		width: 200%;
		border-radius: 5px;
	}

	/*-----------------*/
	.dropdown-item:hover{
		cursor: pointer;;
	}

	#rFooter{
		bottom:0px;
	}

	@media screen and (max-width: 991px){
		#dropdown-profile{
			display: none !important;
		}
		#pforile-info-mobile{
			display:  block;
		}
	}

	@media screen and (min-width: 991px){
		#profile-info-mobile{
			display:  none;
		}
	}